<h1>Friends list</h1>
<div class="add-friend">
  <input type="text" [(ngModel)]="newFriend" placeholder="Friend name" />
  <button (click)="addFriend()">Add friend</button>
</div>

<div class="favorite">
  <p>My favorite people is:</p>
  <ul>
    <li *ngFor="let p of favorites">{{ p }}</li>
  </ul>
</div>
<div class="people">
  <!-- Add your people component here -->

      <app-people *ngFor="let p of people"
                  [name]="p" 
                  (addFav)="addFav($event)" 
                  (deleteFav)="deleteFav($event)"
                  [isFav]="isInFav(p)"></app-people>

</div>
