/*:host {
    display: flex;
    box-sizing: border-box;
    padding: 0.5em;
    border: 1px solid #ddd;
    justify-content: space-between;
  }*/

.person-container{
  display: flex;
}
.mybtn{
  margin: 10px;
  max-width: 100px;
  height: 30px;
  font-size: 12px;
}


  